# Fichiers binaires et exécutables
*.pbo
hemtt
hemtt.exe
.hemttout

# Clés privées
*.biprivatekey

# Répertoires de release
releases

# Images dans addons
**/addons/**/*.png
**/addons/*.png

# Fichiers de configuration ADC
.adc

# Dossiers de l'éditeur de code 
.vscode